body {
  font-family: "Istok Web", sans-serif;
  padding: 2em;
  margin:0 auto;
  width: 45%;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.weather-app {
  background-color: rgba(1, 24, 38);
  border-radius: 15px;
  padding: 3em;
}

#input-search-form {
  background-color: transparent;
  border-style: none;
  color: white;
  font-size: 1vw;
  padding: 1em 1.5em;
  width: 100%;
}

#input-search-form:focus {
  background-color: rgb(21, 87, 113);
  border-radius: 15px 0 0 15px;
  outline: none;
}

#input-search-form::placeholder {
  color: rgb(241, 247, 137, 0.9);
}

#input-search-form:focus::placeholder{
  color:rgb(241, 247, 137,0.2);
}

#input-search-form::-webkit-search-cancel-button {
 filter: brightness(0) invert(1);
}

.search-form {
  border-radius: 15px;
  background-color: rgba(16, 68, 88);
  justify-content: space-between;
  width: 100%;
}

.btn-search {
  background-color: rgb(241, 247, 137, 0.9);
  border-radius: 0px 15px 15px 0px;
  border-style: none;
  cursor: pointer;
  width: 7%;
}

.icn-search {
  margin: 0 auto;
  width: 75%;
}

.weather-current {
  color: white;
  margin-top: 3%;
  justify-content:space-evenly;
  padding: 0 3%;
}

.weather-current-temperature {
  padding-left: 1%;
  min-width: 45%;
}

.weather-current-temperature h3 {
  margin: 0 auto;
  padding-top: 5%;
  font-size: 2.4vw;
}

.weather-current-temperature p {
  margin-top: -2%;
  padding-right: 3%;
  font-size: 1.3vw;
}

#weather-description{
  margin-top:-8%;
  font-size: 1.1vw;
}

.weather-temperature-today h1 {
  margin:0 auto;
  font-size: 6vw;
  font-weight: 400;
  padding-top: 5%;
}

.weather-current-img{
  height: auto;
  width: 40%;
  align-self: end;
}

.current-img {
  display: block;
  margin-left: auto;
  height: auto;
  max-width: 90%;
}

.weather-current-informations{
  background-color: rgb(21, 87, 113);
  border-radius: 15px;
  color:white;
  justify-content: space-around;
}

.current-humidity, .current-wind-speed{
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  width: 50%;
}

#humidity, #wind-speed, #weather-description{
  color: rgb(241, 247, 137);
}

.footer-project{
  font-size: 0.8vw;
  margin:0 auto;
  padding-top:1%;
}

.footer-project a{
  color: rgba(16, 68, 88);
  font-weight: 600;
}