html {
  font-size: 1vw;
}

body {
  font-family: "Istok Web", sans-serif;
  padding: 2em;
}

form {
  width: 80%;
}

input[type="search"] {
  border-radius: 25px;
  background-color: rgba(16, 68, 88);
  border-style: none;
  color: white;
  font-size: 1vw;
  padding: 1em 1.5em;
  width: 80%;
}

input:focus {
  background-color: rgba(66, 119, 140);
  outline: none;
}

::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.weather-app {
  background-color: rgba(1, 24, 38);
  border-radius: 25px;
  padding: 3em;
  width: 60%;
}

.btn-search{
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  border-style: none;
  margin-left: 1em;
  width: 7%;
}

.weather-current {
  border-radius: 25px;
  color: white;
}

.weather-current-temperature {
  margin: 1em 3em;
}

.weather-current-temperature h3 {
  font-size: 2em;
}

.weather-current-img {
  width: 5em;
}

.weather-forecast {
  background-color: rgba(16, 68, 88);
  color: white;
}
