body {
  font-family: "Istok Web", sans-serif;
  padding: 2em;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.weather-app {
  background-color: rgba(1, 24, 38);
  border-radius: 15px;
  padding: 3em;
  width: 45%;
}

input[type="search"] {
  background-color: transparent;
  border-style: none;
  color: white;
  font-size: 1vw;
  padding: 1em 1.5em;
  width: 100%;
}

input:focus {
  outline: none;
}

input::-webkit-search-cancel-button {
  appearance: none;
}

input[type="search"]::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.search-form {
  border-radius: 15px;
  background-color: rgba(16, 68, 88);
  justify-content: space-between;
  width: 100%;
}

.search-form:focus {
  border-radius: 15px;
}

.btn-search {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px 15px 15px 5px;
  border-style: none;
  cursor: pointer;
  width: 7%;
}

.icn-search{
  margin:0 auto;
  width: 75%;
}

.weather-current {
  color: white;
  justify-content: space-between;
  margin-top:3%;
}

.weather-current-temperature {
  padding-left: 10%;
  justify-content: space-between;
}

.weather-current-temperature h3 {
  margin: 0 auto;
  padding-top: 20%;
  font-size: 2vw;
}

.weather-current-temperature p{
  margin: 0 auto;
  padding-top: -5%;
  font-size: 1.3vw;
}

.weather-current-temperature h1{
  margin: 0 auto;
  font-size: 4vw;
  padding-top: 23%;
}

.weather-current-img {
  padding-right: 10%;
  height: auto;
  width: 25%;
}

.weather-forecast {
  background-color: rgba(16, 68, 88);
  color: white;
}
